Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Avoid rewrite loop when already inside /public.
    RewriteRule ^public/ - [L]

    # Forward all web requests to Laravel public directory.
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
